* { 
    font-family: 'Fira Sans Extra Condensed', sans-serif ;
    margin: 0;
    padding: 0;
}

/*Общие*/

header {
    height: 60px;
    border-bottom: 1px solid black;
}

.sbr {
    font-size: 30px;
    margin-top: 5px;
    display: flex;
}

.sbr img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 5px;
}

.navigation {
    margin-top: 12px;
    margin-left: 40%;
    display: flex;
}

.nav-items {
    display: flex;
    font-size: 20px;
    color: black;
}

.nav-items a {
    color: black;
    transition: .3s;
}

.nav-items a:hover {
    color: #7a220f;
    text-decoration: none;
}

.nav-items a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #7a220f;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.nav-items a:hover:after,
a:focus:after {
    width: 100%;
}

#news-a {
    padding-right: 25px;
}

#about-a {
    padding-right: 25px;
}

.navigation img {
    height: 30px;
    width: 30px;
    margin-left: 25px;
}
/*Шапка*/

main {
    display: flex;
    background-color: gray;
}

.ussrbgimg {
    width: 1263px;
    display: block;
    margin: auto;
    opacity: 0.5;
}

/*Главный блок*/

.about h1 {
    margin: auto;
    margin-top: 50px;
    border-bottom: 1px solid #000;
    width: 145px;
}

.about h2 {
    margin-top: 50px;
}

. {
    
}

/*О Партии*/